In [2]:
import pandas as pd
import os

TASK #1: Merege all the months data into one single csv file

In [13]:
df = pd.read_csv('Sales_Data\\Sales_April_2019.csv')


files = [file for file in os.listdir('Sales_Data')]

all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('Sales_Data\\'+file)
    all_months_data = pd.concat([all_months_data,df])   

all_months_data.to_csv('all_data.csv',index=False)

#df.head()

Read in updated dataframe

In [15]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

Cleaning the dataset

Drop rows of NaN

In [21]:
nana_df = all_data[all_data.isna().any(axis=1)]
nana_df.head(100)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
33636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34157,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Augment data with additional columns

Task #2 : Add month column

In [18]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

ValueError: cannot convert float NaN to integer

Question: What was the best month for sales? How much was earned that month?